/*
========================================================
Normalize
========================================================
*/

@import url("normalize.css");



/*
========================================================
General
========================================================
*/

body {
  font-family: 'Lora', serif;
  background-color: #99ccff;
  overflow-x: hidden;
}

a:link {
    text-decoration: none;
    color: black;
}

.window {
  width: 520px;
  padding: 20px;
  margin: 10px auto;
  min-height: 20px;
}


/*
========================================================
Header/Footer
========================================================
*/

header {
  max-width: 100%;
  margin: 0;
  padding: 20px 30px;
  font-weight: bold;
  font-size: 42;
  background-color: #00b33c;
  color:white;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.2);
}

header img {
  height: 50px;
}

#otter {
  width: 200px;
  position: absolute;
  bottom: -10px;
  right: -200px;
  -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
   transform: rotate(-15deg);
}



/*
========================================================
Search/Results
========================================================
*/

.word {
  font-size: 64;
  display: inline;
}

.entry {
  padding: 0 20px;
}

input {
  color: white;
  font-weight: bold;
  border-style: none;
  font-size: 24;
  background-color: inherit;
}

#lang_spec_esp_to_eng, #lang_spec_eng_to_esp {
  font-weight: bold;
  font-size: 20;
  text-align: center;
  color: #aaaaaa;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  width: 45%;
  display: inline-block;
  margin-top: -10px;
  margin-left: 5.5%;
  margin-right: 5.5%;
}

#lang_spec_esp_to_eng {
  margin-left: -3%;
}
#lang_spec_eng_to_esp {
  margin-right: -3%;
}

.selected-lang {
  display: block;
}

.unselected-lang {
  display: none;
}

.selected-lang-spec {
  background-color: white;
}

.unselected-lang-spec {
  background-color: #eee;
}

.entry {
  -webkit-box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.2);
  padding: 30px 40px 40px;
  background-color: #10d35c;
  color: white;
  border-radius: 30px;
}

.part_of_speech {
  font-size: 24;
  display: inline;
}

.character-insert {
  border-style: solid;
  border-color: white;
  border-radius: 100px;
  background-color: white;
  min-width: 40px;
  min-height: 40px;
  padding: 10px;
}
