{% extends "base.html" %}
{% block content %}
<div class="window">
  <form action="{{ url_for('search') }}" method="post" name="search-form">
    <div id="search-bar"><input type="text" name="query" autofocus placeholder="Search" value="{{ keyphrase }}"/></div>
    <input class="half-window responsive" type="submit" value="submit" style="display: none" name="submit-query" />
  </form>
</div>
<div class="entry window">
  <div class="word">
    {{ word }}
  </div>
  <div class="definition">
    {{ entry }}
  </div>
</div>
{% endblock %}
